extends layout

block content
  div.bs-header#content
    div.container
      h1 Anforderungen
      p !{anforderung.anforderung}
  div.bs-old-docs
    div.container
      strong
        a(href='/rss/anforderungen') Bleibe Sie auf dem neuesten Stand 
      span Sie möchte eine neue Anforderung einrichen? <a href="http://fdf.vdew.net/wysvde/dataforum.nsf/Anforderung?OpenForm&login" target="_blank">Hier</a> geht's zur richtigen Seite.
  div.bs-docs-container
    div.bs-docs-section2
      div.page-header
        h2(id='antwort') Anwort
        p.lead !{anforderung.kurzantwort}
        p !{anforderung.antwort}